<!-- <section class="container">
    <div class="card" style="height: 80px;">
        <div class="card-header card-header-tabs card-header-danger">
            <div class="nav-tabs-navigation">
                <div class="nav-tabs-wrapper" >
                    <span class="nav-tabs-title" ><strong style="font-size: xx-large;">{{eventObject.sName}}</strong></span>
                </div>
            </div>
        </div>
        </div>
        <form action="#" class="form">
            <div class="input-field">
                <label>Event Name:</label>
                <input matInput [(ngModel)]="eventObject.sName" name="sName" type="text" >
            </div>

            <div class="input-field">
                <label>Description:</label>
                <input matInput [(ngModel)]="eventObject.sDescription" name="sDescription" type="text" >
            </div>
       
                <div class="input-field">
                    <label>Start Date:</label>
                    <input matInput [(ngModel)]="eventObject.dStartDate"  name="dStartDate" type="text" >
                </div>

                <div class="input-field">
                    <label>End Date:</label>
                    <input matInput [(ngModel)]="eventObject.dEndDate" name="dEndDate" type="text" >
                </div>

                <div class="input-field">
                    <label>Start Time:</label>
                    <input matInput [(ngModel)]="eventObject.sStartTime" name="sStartTime" type="text" >
                </div>

                <div class="input-field">
                    <label>End Time:</label>
                    <input matInput [(ngModel)]="eventObject.sEndTime" name="sEndTime" type="text" >
                </div>

                <div class="input-field">
                    <label>Registration Starts:</label>
                    <input matInput [(ngModel)]="eventObject.dRegistrationOpens" name="dRegistrationOpens" type="text" >
                </div>

                <div class="input-field">
                    <label>Registration Closes</label>
                    <input matInput [(ngModel)]="eventObject.dRegistrationCloses" name="dRegistrationCloses" type="text" >
                </div>

                <div class="input-field">
                    <label>Location Physical:</label>
                    <input matInput [(ngModel)]="eventObject.sLocationPhysical" name="sLocationPhysical" type="text" >
                </div>

                <div class="input-field">
                    <label>Cost Description:</label>
                    <input matInput [(ngModel)]="eventObject.sCostDescription" name="sCostDescription" type="text" >
                </div>

                <div class="input-field" >
                    <label>Location Coordinates:</label>
                    <div style="display: flex;">
                        <input matInput [(ngModel)]="eventObject.locCoordinates.type" name="locCoordinates.type" type="text" >
                        <input matInput [(ngModel)]="eventObject.locCoordinates.coordinates" name="locCoordinates.coordinates" type="text" >
                    </div>
                </div>

                <div class="input-field">
                    <label>Location Digital:</label>
                    <input matInput [(ngModel)]="eventObject.sLocationDigital" name="sLocationDigital" type="text" >
                </div>

        </form>

        <div class="funcButton">
            <button mat-raised-button color="primary" (click)="updateEvent()" >Update Event</button>
            <button mat-flat-button color="accent" routerLink="/qr" >Present Mode</button>
            <button mat-flat-button color="warn" (click)="deleteEvent()" >Delete Event</button>
          </div>
    </section> -->
