<section class="container">
    <div class="card" style="height: 80px;">
        <div class="card-header card-header-tabs card-header-danger">
            <div class="nav-tabs-navigation">
                <div class="nav-tabs-wrapper" >
                    <span class="nav-tabs-title" ><strong style="font-size: xx-large;">{{eventObject.sName}}</strong></span>
                </div>
            </div>
        </div>
        </div>
        <form action="#" class="form">
            <div class="input-field">
                <label>Student Name :</label>
                <input matInput [(ngModel)]="eventObject.studentName" name="studentName" type="text" >
            </div>

            <div class="input-field">
                <label>Email :</label>
                <input matInput [(ngModel)]="eventObject.email" name="email" type="email" >
            </div>

            <div class="input-field">
                <label>Year Of Study:</label>
                <input matInput [(ngModel)]="eventObject.yearOfStudy" name="yearOfStudy" type="text" >
            </div>
       
                <div class="input-field">
                    <label>Address :</label>
                    <input matInput [(ngModel)]="eventObject.address"  name="address" type="text" >
                </div>

                <div class="input-field">
                    <label>Demo Time :</label>
                    <input matInput [(ngModel)]="eventObject.demoTime" name="demoTime" type="text" >
                </div>

                <div class="input-field">
                    <label>Phone No:</label>
                    <input matInput [(ngModel)]="eventObject.phoneNo" name="phoneNo" type="number" >
                </div>

                <div class="input-field">
                    <label>Set Up-coming Payment:</label>
                    <input matInput [(ngModel)]="eventObject.upcomingPayment" name="upcomingPayment" type="number" >
                </div>

         

        </form>

        <div class="funcButton">
            <button mat-raised-button color="primary" (click)="updateEvent()" >Send Upcoming Payment</button>
            <!-- <button mat-flat-button color="accent" routerLink="/qr" >Mark as </button> -->
            <button mat-flat-button color="warn" (click)="deleteEvent()" >Remove Student</button>
          </div>
    </section>
