<div class="super">
<h3 style="text-align: center; color: white; font-weight: bolder; margin-bottom: 30px;"><strong>mi-recall</strong></h3>
<div class="main">

    <div style="margin-top: 150px;">

       
        <h3 style="margin-left: 220px; font-weight: bolder; color: white; font-size: 35px;">
            Join at
        </h3>

        <h1 style="font-weight: bolder; color: white; font-size: 80px;">
             mi-recall.com
        </h1>

        <h2 style="font-weight: bolder; color: white; font-size: 80px;">
            #Event_QR
        </h2>
    </div>

    <div class="midbar">
      
    </div>

    <div>
        <qrcode [qrdata]="myAngularxQrCode" [width]="500" [errorCorrectionLevel]="'M'"></qrcode>
    </div>
    
</div>
</div>