<div class="main">
    <form>
        <div>
          <label>Account</label>
          <input type="text" value="DD">
        </div>
        <div>
          <label>Full Name</label>
          <input type="text" value="--MM">
        </div>
        <div>
          <label>Date of Birth</label>
          <input type="text" value="01 jun">
        </div>
        <div>
          <label>Email Adress</label>
          <input type="text" value="--Female">
        </div>
        <div>
          <label>Payment Details</label>
          <input type="text" value="Card Number">
        </div>
        <div>
          <label>Payment Form</label>
          <input type="text" value="VISA Credit Card">
        </div>
        <div>
          <label>Card CVC</label>
          <input type="text" value="YYYY">
        </div>
        <div>
          <label>Nick Name</label>
          <input type="text" value="A">
        </div>
        <div>
          <label>Gender</label>
          <input type="text" value="Paypal">
        </div>
        <button type="submit">PAY NOW</button>
       
      </form>
</div>