<div class="main-content">
  <div>
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-primary">
            <!-- <h4 class="card-title"></h4> -->
            <p class="card-category">Complete your profile</p>
          </div>

          <!-- <button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">
                    {{!isLinear ? 'Enable linear mode' : 'Disable linear mode'}}
                  </button> -->
          <mat-stepper [linear]="isLinear" #stepper>
            <mat-step [stepControl]="otpForm">
<div class="fade-in"    *ngIf="!isLoading">
  <section >
    <div class="container-fluid">
      <!-- <div class="card" style="height: 70px;">
        <div class="card-header card-header-tabs card-header" style="background-color: #ebcb45;">
          <div class="nav-tabs-navigation">
            <div class="nav-tabs-wrapper">
              <span class="nav-tabs-title"><strong style="font-size: xx-large;">Create Event</strong></span>
            </div>
          </div>
        </div>
      </div> -->
      <form class="mainForm" [formGroup]="registrationForm" (ngSubmit)="verifydata()">
        <div class="details ID">
          <!-- <span class="title">Basic Details</span> -->
          <div class="fields">
            <div class="input-field">
              <label for="name">Student Name *</label>
              <input type="text" id="sName" formControlName="studentName" placeholder="Student Name" required />
              <small class="small" *ngIf="
                  registrationForm.get('studentName')?.invalid &&
                  registrationForm.get('studentName')?.touched
                " class="error-message">
                Student Name is required.
              </small>
            </div>

            <div class="input-field">
              <label for="name">Email *</label>
              <input type="email" id="email" formControlName="email" placeholder="Email" required />
              <small class="small" *ngIf="
                  registrationForm.get('email')?.invalid &&
                  registrationForm.get('email')?.touched
                " class="error-message">
                Email is required.
              </small>
            </div>

            <div class="input-field">
              <label for="parentName" class="file-label"> Parent Name  </label>
                <input type="text" id="parentName" formControlName="parentName" placeholder="Parent Name" />
            
            </div>


            <div class="input-field">
              <label for="demoTime">Demo Time </label>
              <input type="time" id="demoTime" formControlName="demoTime" placeholder="demoTime"/>
            </div>


            <div class="input-field">
              <label for="yearOfStudy">Year Of Study </label>
              <input type="date" id="yearOfStudy" formControlName="yearOfStudy"/>
            </div>

              <div class="input-field">
                <label for="phoneNo">Phone Number</label>
                <input type="number" id="phoneNo" formControlName="phoneNo"
                  placeholder="Phone Number" required/>
              </div>

            <div class="input-field">
              <label for="address">Address</label>
              <input type="text" id="address" formControlName="address"/>
            </div>

          </div>
        </div>

        <div style="display: flex; justify-content: center">
          <button type="submit">Submit</button>
        </div>
      </form>
    </div>
  </section>
</div>

<div style="margin-top: 40px;"  *ngIf="isLoading">
  <h3 style="text-align: center; color: blueviolet;">Submit Your OTP</h3>
  <form class="mainForm" [formGroup]="otpForm" (ngSubmit)="verifyOtp()">
    <div class="fields">

      <div  class="input-fielde">
        <!-- <label for="otp">Enter Otp</label> -->
        <div style="display: flex; justify-content: center;">
          <input style="
          width: 300px; 
         outline: none;
          font-size: 14px;
          font-weight: 400;
          color: #111;
          border-radius: 10px;
          border: 1px solid #111;
          padding: 0 25px;
          height: 42px;"  placeholder="Enter OTP" type="number" formControlName="otp"  required  (change)="onOtpVerify()">
        </div>
        <span class="validator" *ngIf="otpValidation.otp.invalid && (otpValidation.otp.dirty || otpValidation.otp.touched)">
          <small *ngIf="otpValidation.otp.errors.required">OTP is required.<br></small>
          <small *ngIf="otpValidation.otp.errors.minlength">OTP must be at least 4 numbers long.</small>
        </span>
      </div>

   

      <div style="display: flex; justify-content: center">
        <button type="submit"  >Submit OTP</button>
      </div>

    </div>
  </form>

  <button  style="width: 300px; display: none;" mat-button matStepperNext>Next</button>

</div>

              <!-- <div class="mainpage">
                <nav>
                    <a href="#"><img src="..\images\logo.webp" alt=""></a>
                </nav>
                <div class="form-wrapper">
                    <h2>
                        Sign Up
                    </h2>
                    <form [formGroup]="registrationForm" (ngSubmit)="verifydata()" >
                        <div class="form-control">
                          <input placeholder="Student Name" type="text" formControlName="studentName" required>
                                        
                          <span class="validator" *ngIf="f.studentName.invalid && (f.studentName.dirty || f.studentName.touched)">
                            <small *ngIf="f.studentName.errors.required">Name is required.   <br></small>
                            <small *ngIf="f.studentName.errors.minlength">Name must be at least 2 characters long.    <br></small>
                            <small *ngIf="f.studentName.errors.noNumbers">Name cannot contain numbers.</small>
                          </span>
                        </div>

                        <div class="form-control">
                          <input placeholder="Parent Name" type="text" formControlName="parentName">
                           
                        </div>

              
                
                        <div class="form-control">
                           
                          <input placeholder="Email address" type="email" formControlName="email" required>
                            
                          <span class="validator" *ngIf="f.email.invalid && (f.email.dirty || f.email.touched)">
                            <small *ngIf="f.email.errors.required">Email is required.   <br></small>
                          
                            <small *ngIf="f.email.errors.email">Email must be in correct formate 'user&#64;example.com'.</small>
                          
                          </span>
                        </div>
              
                        <div class="form-control">
                          <input placeholder="Year Of Study" type="date" formControlName="yearOfStudy">
                           
                        </div>

                        <div class="form-control">
                          <input placeholder="Demo Time" type="time" formControlName="demoTime">
                           
                        </div>
              

                        <div class="form-control">
                            <input type="number" required formControlName="phoneNo" placeholder="Phone No">
              
                            <span class="validator" *ngIf="f.phoneNo.invalid && (f.phoneNo.dirty || f.phoneNo.touched)">
                              <small *ngIf="f.phoneNo.errors.required">Phone Number is required *<br></small>
                            
                              <small *ngIf="f.phoneNo.errors.pattern"> Phone number must contain only numeric values *</small>
                            
                            </span>
                        </div>
                
                        <button type="submit"  >Submit</button>
              
                    </form>
                </div>
              </div> -->
              <!-- <form [formGroup]="registrationForm" (ngSubmit)="verifydata()">
                <div class="row">

                  <div class="col-md-6">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Student Name" type="text" formControlName="studentName" required>
                    </mat-form-field>

                    <span class="validator" *ngIf="f.studentName.invalid && (f.studentName.dirty || f.studentName.touched)">
                      <small *ngIf="f.studentName.errors.required">Name is required.   <br></small>
                      <small *ngIf="f.studentName.errors.minlength">Name must be at least 2 characters long.    <br></small>
                      <small *ngIf="f.studentName.errors.noNumbers">Name cannot contain numbers.</small>
                    </span>
                
                    
                  </div>
                  <div class="col-md-6">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Email address" type="email" formControlName="email" required>
                    </mat-form-field>

                    <span class="validator" *ngIf="f.email.invalid && (f.email.dirty || f.email.touched)">
                      <small *ngIf="f.email.errors.required">Email is required.   <br></small>
                    
                      <small *ngIf="f.email.errors.email">Email must be in correct formate 'user&#64;example.com'.</small>
                    
                    </span>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Year Of Study" type="text" formControlName="yearOfStudy">
                    </mat-form-field>
                  </div>
                  <div class="col-md-4">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Demo Time" type="time" formControlName="demoTime">
                    </mat-form-field>
                  </div>
                  <div class="col-md-4">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Phone No" type="number" formControlName="phoneNo" required>
                    </mat-form-field>

                    <span class="validator" *ngIf="f.phoneNo.invalid && (f.phoneNo.dirty || f.phoneNo.touched)">
                      <small *ngIf="f.phoneNo.errors.required">Phone Number is required.<br></small>
                    
                      <small *ngIf="f.phoneNo.errors.pattern"> Phone number must contain only numeric values.</small>
                    
                    </span>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Address" type="text" formControlName="address">
                    </mat-form-field>
                  </div>
                </div>
                <button type="submit">Send OTP</button>

                *ngIf="isLoading"

<div  style="margin-top: 50px;">
  <h3>Submit Your OTP</h3>
  <form style="text-align: center;" [formGroup]="otpForm" (ngSubmit)="verifyOtp()">
    <div style="text-align: center; width: 100%;">
      <mat-form-field  class="example-full-width">
        <input matInput placeholder="Enter OTP" type="number" formControlName="otp"  required  (change)="onOtpVerify()">
      </mat-form-field>

      <span class="validator" *ngIf="otpValidation.otp.invalid && (otpValidation.otp.dirty || otpValidation.otp.touched)">
        <small *ngIf="otpValidation.otp.errors.required">OTP is required.<br></small>
        <small *ngIf="otpValidation.otp.errors.minlength">OTP must be at least 4 numbers long.</small>
      </span>

      <button type="submit" style="width: 100%;" >Submit OTP</button>

    </div>
  </form>


  <button  style="width: 300px; display: none;" mat-button matStepperNext>Next</button>


</div>
            
              </form> -->
            </mat-step>
            <!-- <mat-step [stepControl]="otpForm" label="OTP !">
             
                <div class="form-help">
                  <button (click)="checkData()">Resend Otp</button>
                  <button mat-button matStepperPrevious>Back</button>
                </div>
            
            </mat-step> -->
            <mat-step>
              <ng-template matStepLabel>Done</ng-template>
              <div *ngIf="!readyToPay" >
            <h2>Please Fill Correct OTP to Generate Payment request</h2>
              </div>
              <div class="payment" *ngIf="readyToPay">
                <h2>Payment Details</h2>
                <form>

                  <div class="control-form">
                    <div class="form-fields">
                      <label for="name">Student Name</label>
                      <p>{{ customerName }}</p>
                    </div>

                    <div class="form-fields">
                      <label for="name">Email</label>
                      <p>{{ userEmail }}</p>
                    </div>
                  </div>

                  <h3 for="field" style="font-size: 16px; display: block; margin-bottom: 10px">Select Option future
                    update</h3>
                  <div class="form-controls">

                    <mat-radio-group class="radioGroup" [(ngModel)]="billAmount">
                      <mat-radio-button (change)="updateBillAmount(12000)" class="example-margin" value="12000">Pre-book for 12 classes</mat-radio-button>
                      <mat-radio-button (change)="updateBillAmount(25000)" class="example-margin" value="25000">Pre-book for 25 classes</mat-radio-button>
                      <mat-radio-button (change)="updateBillAmount(30000)" class="example-margin" value="30000">Pre-book for 30 classes</mat-radio-button>
                    </mat-radio-group>
                    <!-- <span>
                      <input type="radio" id="12_class" name="pre_book" value="12000"
                        (change)="updateBillAmount(12000)" />
                      <label for="12">Pre-book for 12 classes</label><br />
                    </span>

                    <span>
                      <input type="radio" id="25_class" name="pre_book" value="25000"
                        (change)="updateBillAmount(25000)" />
                      <label for="25">Pre-book for 25 classes</label><br />
                    </span>

                    <span>
                      <input type="radio" id="30_class" name="pre_book" value="30000"
                        (change)="updateBillAmount(30000)" />
                      <label for="30">Pre-book for 30 classes</label>
                    </span> -->

                  </div>

                  <div class="amount">
                    <!-- <div>
                      <p style="font-size: 15px">
                        Total Amount : INR - <strong>{{ billAmount }}</strong>
                      </p>
                    </div> -->

                    <p style="font-size: 12px;">Your Total Amount, You can all update your amount according your requirment.</p>
                    <div class="amount-input">
                      <input
                      style="font-weight: bold; font-size: large; border: none;"
                      matInput
                      placeholder="Enter Your Amount"
                      type="text"
                      [(ngModel)]="billAmount"
                      (input)="onInputChange()"
                    >
                    </div>
                  </div>

                  <div class="additional">
                  
                       <button (click)="updateBillAmount(additionalAmount.amount0)" >₹ {{additionalAmount.amount0}}</button>
                       <button (click)="updateBillAmount(additionalAmount.amount1)" >₹ {{additionalAmount.amount1}}</button>
                       <button (click)="updateBillAmount(additionalAmount.amount2)" >₹ {{additionalAmount.amount2}}</button>
                       <button (click)="updateBillAmount(additionalAmount.amount3)" >₹ {{additionalAmount.amount3}}</button>
                       <button (click)="updateBillAmount(additionalAmount.amount4)" >₹ {{additionalAmount.amount4}}</button>
                       <button (click)="updateBillAmount(additionalAmount.amount5)" >Custom Amount</button>

                  </div>

                  

                  <button mat-raised-button color="primary" (click)="onSubmit()" disabled="{{isInputEmpty}}">CheckOut Now</button>

                  <div *ngIf="paymentState" style="text-align: center;">

                    <p style="background-color: #4CAF50; font-weight: bold; padding: 10px; color: white;">Select One
                      Payment Method</p>
                    <div class="paymentState">
                      <a (click)="openLink()"><img
                          src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b5/PayPal.svg/2560px-PayPal.svg.png"
                          alt="PayPal"> </a>
                      <a (click)="paymentConfirm()"><img
                          src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/89/Razorpay_logo.svg/1896px-Razorpay_logo.svg.png"
                          alt="Razorpay"> </a>
                    </div>
                  </div>
                  <!-- <button type="submit"  >Pay With Razorpay</button>  
                                    <button (click)="paymentForPaypal()">Pay With PayPal</button>   -->
                </form>
              </div>
              <!-- <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button (click)="stepper.reset()">Reset</button>
              </div> -->
            </mat-step>
          </mat-stepper>
        </div>
      </div>

    </div>
  </div>
</div>

