<div class="main-content">
  <div>
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <!-- <h4 class="card-title"></h4> -->
            <p class="card-category">Complete your profile</p>
          </div>

          <!-- <button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">
                    {{!isLinear ? 'Enable linear mode' : 'Disable linear mode'}}
                  </button> -->
          <mat-stepper [linear]="isLinear" #stepper>
            <mat-step [stepControl]="registrationForm">
              <form [formGroup]="registrationForm" (ngSubmit)="verifydata()">
                <div class="row">

                  <div class="col-md-6">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Student Name" type="text" formControlName="studentName">
                    </mat-form-field>
                  </div>
                  <div class="col-md-6">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Email address" type="email" formControlName="email">
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Year Of Study" type="text" formControlName="yearOfStudy">
                    </mat-form-field>
                  </div>
                  <div class="col-md-4">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Demo Time" type="time" formControlName="demoTime">
                    </mat-form-field>
                  </div>
                  <div class="col-md-4">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Phone No" type="number" formControlName="phoneNo">
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Address" type="text" formControlName="address">
                    </mat-form-field>
                  </div>
                </div>
                <!-- <button mat-raised-button type="submit" class="btn btn-danger pull-right">Next Step</button> -->
                <button type="submit" mat-button matStepperNext>Next</button>

              </form>
            </mat-step>
            <mat-step [stepControl]="secondFormGroup">

              <div>
                <h2>Submit Otp!</h2>
                <form [formGroup]="otpForm" (ngSubmit)="verifyOtp()">
                  <!-- <div class="form-control">
                            <input
                              type="number"
                              required
                              formControlName="otp"
                              placeholder="Enter OTP..."
                            />
                          </div> -->


                  <div class="col-md-8">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Enter OTP" type="number" formControlName="otp">
                    </mat-form-field>
                  </div>
                  <!-- <button type="submit">Submit</button> -->
                  <button mat-button matStepperNext>Next</button>

                </form>
                <div class="form-help">
                  <!-- <button (click)="checkData()">Resend Otp</button> -->
                  <!-- <button mat-button matStepperPrevious>Back</button> -->
                </div>
              </div>

              <!-- <form [formGroup]="secondFormGroup">
                        <ng-template matStepLabel>Fill out your address</ng-template>
                        <mat-form-field>
                          <mat-label>Address</mat-label>
                          <input matInput placeholder="Ex. 1 Main St, New York, NY" formControlName="secondCtrl"
                                 required>
                        </mat-form-field>
                        <div>
                          <p>Go to a different step to see the error state</p>
                          <button mat-button matStepperPrevious>Back</button>
                          <button mat-button matStepperNext>Next</button>
                        </div>
                      </form> -->
            </mat-step>
            <mat-step>
              <ng-template matStepLabel>Done</ng-template>
              <div class="payment">
                <h2>Payment Details</h2>
                <form>

                  <div class="control-form">
                    <div class="form-fields">
                      <label for="name">Student Name</label>
                      <p>{{ customerName }}</p>
                    </div>

                    <div class="form-fields">
                      <label for="name">Email</label>
                      <p>{{ userEmail }}</p>
                    </div>
                  </div>

                  <h3 for="field" style="font-size: 16px; display: block; margin-bottom: 10px">Select Option future
                    update</h3>
                  <div class="form-controls">

                    <span>
                      <input type="radio" id="12_class" name="pre_book" value="12000"
                        (change)="updateBillAmount(12000)" />
                      <label for="12">Pre-book for 12 classes</label><br />
                    </span>

                    <span>
                      <input type="radio" id="25_class" name="pre_book" value="25000"
                        (change)="updateBillAmount(25000)" />
                      <label for="25">Pre-book for 25 classes</label><br />
                    </span>

                    <span>
                      <input type="radio" id="30_class" name="pre_book" value="30000"
                        (change)="updateBillAmount(30000)" />
                      <label for="30">Pre-book for 30 classes</label>
                    </span>

                  </div>

                  <div class="amount">
                    <!-- <div>
                      <p style="font-size: 15px">
                        Total Amount : INR - <strong>{{ billAmount }}</strong>
                      </p>
                    </div> -->

                    <small>Your Total Amount, You can all update your amount according your requirment.</small>
                    <div class="amount-input">
                      <input style="font-weight: bold; font-size: large;" matInput placeholder="Enter Your Amount"
                        type="text" [(ngModel)]="billAmount">
                    </div>
                  </div>

                  <button mat-raised-button color="primary" (click)="onSubmit()">CheckOut Now</button>

                  <div *ngIf="paymentState" style="text-align: center;">

                    <p style="background-color: #4CAF50; font-weight: bold; padding: 10px; color: white;">Select One
                      Payment Method</p>
                    <div class="paymentState">
                      <a (click)="openLink()"><img
                          src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b5/PayPal.svg/2560px-PayPal.svg.png"
                          alt="PayPal"> </a>
                      <a (click)="paymentConfirm()"><img
                          src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/89/Razorpay_logo.svg/1896px-Razorpay_logo.svg.png"
                          alt="Razorpay"> </a>
                    </div>
                  </div>
                  <!-- <button type="submit"  >Pay With Razorpay</button>  
                                    <button (click)="paymentForPaypal()">Pay With PayPal</button>   -->
                </form>
              </div>
              <!-- <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button (click)="stepper.reset()">Reset</button>
              </div> -->
            </mat-step>
          </mat-stepper>
        </div>
      </div>

    </div>
  </div>
</div>