<div class="mainpage">
  <nav>
      <a href="#"><img src="..\images\logo.webp" alt=""></a>
  </nav>
  <div class="form-wrapper">
      <h2>
          Sign Up
      </h2>
      <form [formGroup]="registrationForm" (ngSubmit)="submitData()" >
          <div class="form-control">
              <input type="text" required formControlName="email" placeholder="Email">

              <span class="validator" *ngIf="f.email.invalid && (f.email.dirty || f.email.touched)">
                <small *ngIf="f.email.errors.required">Email is required *   <br></small>
              
                <small *ngIf="f.email.errors.email">Email must be in correct formate user&#64;example.com *</small>
    
              </span>
          </div>

  
          <div class="form-control">
             
              <input type="text" required formControlName="password" placeholder="Password">
              
              <span class="validator" *ngIf="f.password.invalid && (f.password.dirty || f.password.touched)">
                <small *ngIf="f.password.errors.required">Password is required *  <br></small>
                <small *ngIf="f.password.errors.pattern">Incorrect Formate Your password length bwt 8-30 digit in this formate &#64;Password123 (uppercase, lowercase, numbers, and special characters).   <br></small>
              </span>
          </div>

          <div class="form-control">
              <input type="text" required formControlName="userName" placeholder="Name">
             
              <span class="validator" *ngIf="f.userName.invalid && (f.userName.dirty || f.userName.touched)">
                <small *ngIf="f.userName.errors.required">Name is required *  <br></small>
                <small *ngIf="f.userName.errors.minlength">Name must be at least 2 characters long *   <br></small>
                <!-- <small *ngIf="f.userName.errors.noNumbers">Name cannot contain numbers.</small> -->
              </span>
          </div>

          <div class="form-control">
              <input type="number" required formControlName="phoneNo" placeholder="Phone No">

              <span class="validator" *ngIf="f.phoneNo.invalid && (f.phoneNo.dirty || f.phoneNo.touched)">
                <small *ngIf="f.phoneNo.errors.required">Phone Number is required *<br></small>
              
                <small *ngIf="f.phoneNo.errors.pattern"> Phone number must contain only numeric values *</small>
              
              </span>
          </div>
  
          <button type="submit"  >Sign Up</button>
          <!-- <button type="submit"  >Sign Up As Admin</button> -->
  
          <div class="form-help">
              <a href="#">Need help?</a>
              <a routerLink="/login">Login</a>
          </div>
      </form>
  </div>
</div>